<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--Order realtime-->
    <event name="checkout_submit_all_after">
        <observer name="retail_checkout_ok" instance="SM\Performance\Observer\AfterCheckout"/>
    </event>
    <event name="sales_order_invoice_register">
        <observer name="retail_invoice_register" instance="SM\Performance\Observer\InvoiceRegister"/>
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="retail_refund" instance="SM\Performance\Observer\AfterRefund"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="retail_shipment" instance="SM\Performance\Observer\AfterShipment"/>
    </event>

    <!--Setting Realtime-->
    <event name="admin_system_config_changed_section_tax">
        <observer name="change_setting_tax" instance="SM\Performance\Observer\ChangeSetting"/>
    </event>
    <event name="admin_system_config_changed_section_shipping">
        <observer name="change_setting_shipping" instance="SM\Performance\Observer\ChangeSetting"/>
    </event>

    <!--Product, Customer, Customer Group Realtime-->
    <event name="model_save_after">
        <observer name="retail_model_after_save" instance="SM\Performance\Observer\ModelAfterSave"/>
    </event>
    <event name="model_delete_after">
        <observer name="retail_model_after_delete" instance="SM\Performance\Observer\ModelAfterDelete"/>
    </event>

    <!-- move categories -->
    <event name="category_move">
        <observer name="retail_category_move" instance="SM\Performance\Observer\ModelAfterSave"/>
    </event>

    <!--Batch data when send realtime-->
    <event name="rest_api_before">
        <observer name="use_batch_data_realtime" instance="SM\Performance\Observer\BatchData\RegisterBatch"/>
    </event>
    <event name="rest_api_after">
        <observer name="process_batch_data_realtime" instance="SM\Performance\Observer\BatchData\ProcessBatch"/>
    </event>

    <!--Caching product-->
    <event name="before_load_x_product">
        <observer name="caching_product_before" instance="SM\Performance\Observer\ProductCaching\BeforeLoading"/>
    </event>
    <event name="after_load_x_product">
        <observer name="caching_product_after" instance="SM\Performance\Observer\ProductCaching\AfterLoading"/>
    </event>
</config>
