<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <xpos>
            <advance>
                <php_run_time>php</php_run_time>
            </advance>
        </xpos>
        <apirouters>
            <router>
                <!--Product-->
                <xproduct>
                    <method>Get</method>
                    <service>SM\Product\Repositories\ProductManagement</service>
                    <function>getProductData</function>
                </xproduct>
                <product>
                    <method>Get</method>
                    <service>SM\Product\Repositories\ProductManagement</service>
                    <function>getProductData</function>
                </product>
                <xcategory>
                    <method>Get</method>
                    <service>SM\Category\Repositories\CategoryManagement</service>
                    <function>getCategoryData</function>
                </xcategory>
                <category>
                    <method>Get</method>
                    <service>SM\Category\Repositories\CategoryManagement</service>
                    <function>getCategoryData</function>
                </category>
                <!--Customer-->
                <xcustomer>
                    <method>Get</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>getCustomerData</function>
                </xcustomer>
                <customer>
                    <method>Get</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>getCustomerData</function>
                </customer>
                <customer>
                    <method>Post</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>save</function>
                </customer>
                <customer>
                    <method>Put</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>save</function>
                </customer>
                <customer-address>
                    <method>Post</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>save</function>
                </customer-address>
                <customer-address>
                    <method>Put</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>createAddress</function>
                </customer-address>
                <customer-group>
                    <method>Get</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>getCustomerGroupData</function>
                </customer-group>
                <!--Directory Data-->
                <country-region>
                    <method>Get</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>getCountryRegionData</function>
                </country-region>
                <!--Store-->
                <store>
                    <method>Get</method>
                    <service>SM\Store\Repositories\StoreManagement</service>
                    <function>getStoreData</function>
                </store>
                <!--Tax-->
                <tax-rates>
                    <method>Get</method>
                    <service>SM\Tax\Repositories\TaxManagement</service>
                    <function>getTaxRatesData</function>
                </tax-rates>
                <tax-class>
                    <method>Get</method>
                    <service>SM\Tax\Repositories\TaxManagement</service>
                    <function>getTaxClassData</function>
                </tax-class>
                <!--Setting-->
                <xsetting>
                    <method>Get</method>
                    <service>SM\Setting\Repositories\SettingManagement</service>
                    <function>getSettingData</function>
                </xsetting>
                <setting>
                    <method>Get</method>
                    <service>SM\Setting\Repositories\SettingManagement</service>
                    <function>getSettingData</function>
                </setting>
                <retail-setting>
                    <method>Get</method>
                    <service>SM\Setting\Repositories\SettingManagement</service>
                    <function>getRetailSettingData</function>
                </retail-setting>
                <retail-setting>
                    <method>Post</method>
                    <service>SM\Setting\Repositories\SettingManagement</service>
                    <function>saveRetailSettingData</function>
                </retail-setting>
                <!--Create Order-->
                <load-order-data>
                    <method>Post</method>
                    <service>SM\Sales\Repositories\OrderManagement</service>
                    <function>loadOrderData</function>
                </load-order-data>
                <save-order>
                    <method>Post</method>
                    <service>SM\Sales\Repositories\OrderManagement</service>
                    <function>saveOrder</function>
                </save-order>
                <take-payment>
                    <method>Post</method>
                    <service>SM\Sales\Repositories\InvoiceManagement</service>
                    <function>takePayment</function>
                </take-payment>
                <!--Update Note Order-->
                <update-order-note>
                    <method>Post</method>
                    <service>SM\Sales\Repositories\OrderManagement</service>
                    <function>updateOrderNote</function>
                </update-order-note>
                <!--Order History-->
                <order>
                    <method>Get</method>
                    <service>SM\Sales\Repositories\OrderHistoryManagement</service>
                    <function>getOrders</function>
                </order>
                <shifts>
                    <method>Get</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>getShiftData</function>
                </shifts>
                <check-shifts>
                    <method>Post</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>isOpenShift</function>
                </check-shifts>
                <check-shifts>
                    <method>Get</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>isOpenShift</function>
                </check-shifts>
                <check-open-shift>
                    <method>Get</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>isOpenShiftJs</function>
                </check-open-shift>
                <open-shift>
                    <method>Post</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>openShift</function>
                </open-shift>
                <close-shift>
                    <method>Post</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>closeShift</function>
                </close-shift>
                <adjust-shift>
                    <method>Post</method>
                    <service>SM\Shift\Repositories\ShiftManagement</service>
                    <function>adjustCash</function>
                </adjust-shift>
                <!--Creditmemo-->
                <creditmemo>
                    <method>Post</method>
                    <service>SM\Sales\Repositories\CreditmemoManagement</service>
                    <function>creditmemo</function>
                </creditmemo>
                <!--Creditmemo-->
                <shipment>
                    <method>Post</method>
                    <service>SM\Sales\Repositories\ShipmentManagement</service>
                    <function>createShipment</function>
                </shipment>
                <!--Outlet & Register-->
                <outlet>
                    <method>Get</method>
                    <service>SM\XRetail\Repositories\OutletManagement</service>
                    <function>getOutlets</function>
                </outlet>
                <outlet>
                    <method>Post</method>
                    <service>SM\XRetail\Repositories\OutletManagement</service>
                    <function>save</function>
                </outlet>
                <outlet>
                    <method>Delete</method>
                    <service>SM\XRetail\Repositories\OutletManagement</service>
                    <function>delete</function>
                </outlet>
                <register>
                    <method>Post</method>
                    <service>SM\XRetail\Repositories\OutletManagement</service>
                    <function>saveRegister</function>
                </register>
                <register>
                    <method>Delete</method>
                    <service>SM\XRetail\Repositories\OutletManagement</service>
                    <function>deleteRegister</function>
                </register>
                <!--Wishlist-->
                <wishlist>
                    <method>Post</method>
                    <service>SM\Wishlist\Repositories\WishlistManagement</service>
                    <function>add</function>
                </wishlist>
                <wishlist>
                    <method>Delete</method>
                    <service>SM\Wishlist\Repositories\WishlistManagement</service>
                    <function>remove</function>
                </wishlist>
                <!--Client order count-->
                <user-order-count>
                    <method>Get</method>
                    <service>SM\XRetail\Repositories\UserOrderCount</service>
                    <function>getUserOrderCount</function>
                </user-order-count>
                <payment>
                    <method>Get</method>
                    <service>SM\Payment\Repositories\PaymentManagement</service>
                    <function>getPaymentData</function>
                </payment>
                <payment>
                    <method>Post</method>
                    <service>SM\Payment\Repositories\PaymentManagement</service>
                    <function>savePayment</function>
                </payment>

                <!--Receipt-->
                <receipts>
                    <method>Get</method>
                    <service>SM\XRetail\Repositories\ReceiptManagement</service>
                    <function>getReceiptData</function>
                </receipts>
                <receipts>
                    <method>Post</method>
                    <service>SM\XRetail\Repositories\ReceiptManagement</service>
                    <function>save</function>
                </receipts>
                <receipts>
                    <method>Delete</method>
                    <service>SM\XRetail\Repositories\ReceiptManagement</service>
                    <function>delete</function>
                </receipts>

                <!--Role/Permission-->
                <role>
                    <method>Get</method>
                    <service>SM\XRetail\Repositories\RolePermissionManagement</service>
                    <function>getRoles</function>
                </role>
                <role>
                    <method>Post</method>
                    <service>SM\XRetail\Repositories\RolePermissionManagement</service>
                    <function>saveRole</function>
                </role>
                <role>
                    <method>Delete</method>
                    <service>SM\XRetail\Repositories\RolePermissionManagement</service>
                    <function>deleteRole</function>
                </role>
                <permission>
                    <method>Get</method>
                    <service>SM\XRetail\Repositories\RolePermissionManagement</service>
                    <function>getPermission</function>
                </permission>
                <permission>
                    <method>Post</method>
                    <service>SM\XRetail\Repositories\RolePermissionManagement</service>
                    <function>savePermission</function>
                </permission>

                <!--Email-->
                <send-email>
                    <method>Post</method>
                    <service>SM\Email\Repositories\EmailManagement</service>
                    <function>sendReceipt</function>
                </send-email>

                <!--warehouse-->
                <warehouse>
                    <method>Get</method>
                    <service>SM\Integrate\Model\WarehouseIntegrateManagement</service>
                    <function>getList</function>
                </warehouse>
                <warehouse-item>
                    <method>Get</method>
                    <service>SM\Integrate\Model\WarehouseIntegrateManagement</service>
                    <function>getWarehouseItem</function>
                </warehouse-item>
                <warehouse-specified-item>
                    <method>Get</method>
                    <service>SM\Integrate\Model\WarehouseIntegrateManagement</service>
                    <function>getWarehouseSpecifiedItem</function>
                </warehouse-specified-item>
                <warehouse-bms-stock-transfer>
                    <method>Get</method>
                    <service>SM\Integrate\Model\BmsStockTransfer</service>
                    <function>getListStockTransfer</function>
                </warehouse-bms-stock-transfer>
                <warehouse-bms-stock-transfer-item>
                    <method>Post</method>
                    <service>SM\Integrate\Model\BmsStockTransfer</service>
                    <function>saveStockTransfer</function>
                </warehouse-bms-stock-transfer-item>
                <warehouse-bms-stock-transfer-apply>
                    <method>Post</method>
                    <service>SM\Integrate\Model\BmsStockTransfer</service>
                    <function>applyTransfer</function>
                </warehouse-bms-stock-transfer-apply>
                <warehouse-bms-get-products>
                    <method>Get</method>
                    <service>SM\Integrate\Model\BmsStockTransfer</service>
                    <function>getProductsForTransferStock</function>
                </warehouse-bms-get-products>

                <dashboard>
                    <method>Post</method>
                    <service>SM\Report\Repositories\DashboardManagement</service>
                    <function>dashboardChartData</function>
                </dashboard>

                <salesreport>
                    <method>Post</method>
                    <service>SM\Report\Repositories\SalesManagement</service>
                    <function>salesReportData</function>
                </salesreport>

                <customer-detail>
                    <method>Get</method>
                    <service>SM\Customer\Repositories\CustomerManagement</service>
                    <function>loadCustomerDetail</function>
                </customer-detail>

                <product-cache>
                    <method>Get</method>
                    <service>SM\Performance\Repositories\ProductCacheManagement</service>
                    <function>getListProductCache</function>
                </product-cache>

                <product-cache>
                    <method>Delete</method>
                    <service>SM\Performance\Repositories\ProductCacheManagement</service>
                    <function>removeProductCache</function>
                </product-cache>
                <debug>
                    <method>Post</method>
                    <service>SM\XRetail\Repositories\DebugManagement</service>
                    <function>debug</function>
                </debug>
            </router>
        </apirouters>
    </default>
</config>
